/*
nav-custom is for the nav-bar with green background and white color
 */

.navbar {
    background-color: #155724;
    border: 0px;
    font-size: 18px;
    min-height: 80px;
}

.nav.navbar-header .navbar-brand {
    padding: 5px 15px;
    height: 80px;
    line-height: 80px;
    color: black;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: whitesmoke;
    color: green;
}

/*
.navbar-nav li.active {
    background-color: green;
    color: white;
}*/

/* Dropdown menu background color*/
.navbar-nav > li > .dropdown-menu {
    background-color: whitesmoke;
    border: 0px;
}

/* Dropdown menu font color*/
.navbar-nav > li > .dropdown-menu a {
    color: green;
    font-size: 18px;
}