<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Shilab web server</title>
    {% endblock %}
    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='js/moment.js') }}"></script>

    {% endblock %}
    {% block styles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/nav-custom.css') }}">
        <style>
            body {
                /* to make the container go al the way to
                           the bottom of the topbar*/
                padding-top: 90px;
            }
        </style>
    {% endblock %}
</head>
<body>
<header class="navbar navbar-fixed-top ">
    <div class="container container-fluid">
        <div class="nav navbar-header">
            <a class="navbar-brand" href="#"><span><img style="max-height: 75px"
                                                        src="{{ url_for('static', filename= 'img/shilab_logo.png')}}"></span></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('webserver') }}">Server</a></li>
            <li><a href="{{ url_for('repository') }}">Repository</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li><a href={{ url_for('login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href={{ url_for('signup') }}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                        <span class="glyphicon glyphicon-user"></span> {{ current_user.username }} <span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href={{ url_for('profile') }}><span
                                class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href={{ url_for('jobs') }}><span
                                class="glyphicon glyphicon-th-list"></span> Jobs</a></li>
                        <li class="divider"></li>
                        <li><a href={{ url_for('logout') }}><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<footer class="footer modal-footer" style="background-color: #155724">
    <div class="container container-fluid">
        <p style="color:white">Author: Junjie Chen</p>
        <p style="color:white">06/20/2018</p>
    </div>
</footer>
</body>
</html>