<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class="col-sm-3">
    <h5>
        <ul class="nav flex-column" style="margin-top: 100px; margin-left: 40px; position: fixed">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#webserver">Web server</a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </h5>
</div>
<div class="col-sm-9" style="height:1500px;">
    <main>
        <section class="anchor" id="introduction" style="height: 300px">
            <h2>Introduction</h2>
            <p>This is a free web serivce anchor_fixedfavoidContentHiddenor predicting by using LASSO.</p>
        </section>
        <section class="anchor" id="webserver">
            <h2>Web Server</h2>
            <p>You can upload a file to submit your samples, and choose some methods to predict. </p>
            <br>

            <form method="post" enctype="multipart/form-data">
                <h5>Input your training data:</h5>
                <input id="input-x" name="input-x" type="file" class="file" data-preview-file-type="text">
                <br>
                <h5>Input your training label:</h5>
                <input id="input-y" name="input-y" type="file" class="file">
                <br>

                <h5>Select the methods:</h5>
                <input type="checkbox" id="EBEN" name="methods" value="EBEN">
                <label for="EBEN">EBEN</label>
                <input type="checkbox" id="LASSO" name="methods" value="LASSO">
                <label for="LASSO">LASSO</label>
                <input type="checkbox" id="meQTL" name="methods" value="meQTL">
                <label for="meQTL">meQTL</label>

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>

            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}


        </section>
        <section class="anchor" id="publications" style="height: 300px">
            <h2>Publications</h2>
            <p>This web service is built upon following several papaers:</p>
            <ul>
                <li>First paper</li>
                <li>Second paer</li>
            </ul>
        </section>
        <section class="anchor" id="contact" style="height: 300px">
            <h2>Contact</h2>
            <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
            </p></section>
    </main>
</div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        // initialize with defaults
        $("#input-x").fileinput();

        // with plugin options
        $("#input-x").fileinput({'showUpload': false, 'previewFileType': 'any'});

    </script>

{% endblock %}