<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shilab web server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .anchor {
            padding-top: 50px; /* to avoid the navbar overlaps with content*/
        }
    </style>

</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Shilab</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
    </div>
</header>

<div class="container" style="background-color:whitesmoke">
    <div class="col-sm-3">
        <h4>
            <ul class="nav nav-stacked nav-pills hidden-xs affix" style="margin-top: 100px; margin-left: 40px;">
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#webserver">Web server</a></li>
                <li><a href="#publictions">Publications</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </h4>
    </div>
    <div class="col-sm-9" style="height:1500px;">
        <main>
            <section class="anchor" id="introduction" style="height: 300px">
                <h2>Introduction</h2>
                <p>This is a free web serivce anchor_fixedfavoidContentHiddenor predicting by using LASSO.</p>
            </section>
            <section class="anchor" id="webserver" style="height: 300px">
                <h2>Web Server</h2>
                <p>You can upload a file to submit your samples. Once the job is completed, you can received an email
                    notificaiton.</p>
                <h4>Upload new File</h4>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="Submit">
                </form>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
            <section class="anchor" id="publictions" style="height: 300px">
                <h2>Publictions</h2>
                <p>This web service is built upon following several papaers:</p>
                <ul>
                    <li>First paper</li>
                    <li>Second paer</li>
                </ul>
            </section>
            <section class="anchor" id="contact" style="height: 300px">
                <h2>Contact</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p></section>
        </main>
    </div>
</div>
<footer class="footer modal-footer">
    <p>Author: Junjie Chen</p>
    <p>03/22/2018</p>
</footer>
</body>
</html>