<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shilab web server</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block link %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
              rel="stylesheet" type="text/css"/>
        <link href="../static/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>
    {% endblock %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/js/plugins/sortable.js" type="text/javascript"></script>
        <script src="../static/js/fileinput.js" type="text/javascript"></script>
        <script src="../static/js/locales/fr.js" type="text/javascript"></script>
        <script src="../static/js/locales/es.js" type="text/javascript"></script>
        <script src="../static/themes/explorer-fa/theme.js" type="text/javascript"></script>
        <script src="../static/themes/fa/theme.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                type="text/javascript"></script>
    {% endblock %}
    {% block style %}
        <style>
            .anchor {
                padding-top: 60px; /* to avoid the navbar overlaps with content*/
            }
        </style>
    {% endblock %}
</head>
<body>
<header class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ShiLab</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" style="background-color:whitesmoke">

    <div class="row">
        {% block content %}{% endblock %}
    </div>

</div>
<footer class="footer modal-footer">
    <p>Author: Junjie Chen</p>
    <p>03/22/2018</p>
</footer>
</body>
</html>