<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Log In</h2>
        <form class="form-horizontal" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ wtf.form_field(form.email.label, class="form-control", placeholder='Name', maxlength=5, size=20) }}
                <label class="control-label col-sm-2" for="email">{{ form.email.label }}</label>
                <div class="col-sm-4">
                    {{ form.email(size=32) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">{{ form.password.label }}</label>
                <div class="col-sm-4">
                    {{ form.password(size=32) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.remember_me() }}  {{ form.remember_me.label }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.submit() }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}