<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Repository | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: coral;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h2>Model Repository</h2>
        <p>This page lists all shared models. There are total {{ models|length }} shared models.</p>
        <hr>
        <table class="table table-hover table-condense">
            <thead>
            <tr class="bg-white">
                <th>#</th>
                <th>Method</th>
                <th>Description</th>
                <th>Performance</th>
                <th>Recall times</th>
                <th>Submit time</th>
                <th>Training time</th>
                <th>Job Name</th>
                <th>Author Name</th>
            </tr>
            </thead>
            <tbody>
            {% for model in models %}
                {% if loop.index % 2 == 0 %}
                    <tr class="bg-info">
                {% else %}
                    <tr class="bg-success">
                {% endif %}
                <td>{{ loop.index0 + 1 }}</td>

                <td>{{ model.algorithm }}</td>
                <td>{{ model.description }}</td>
                <td>{{ model.performance }}</td>
                <td>{{ model.recall_times }}</td>
                <td>{{ momentjs(model.timestamp).calendar() }} </td>
                <td>{{ model.training_time }}</td>
                <td>{{ jobnames[loop.index0] }}</td>
                <td>{{ usernames[loop.index0] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}