<!DOCTYPE html>
{% extends "layout.html" %}
{% block scripts %}
    {{ super() }}
    <script>
        function ShowHideCV(chkCV) {
            var fold_number = document.getElementById("fold_number");
            fold_number.style.visibility = chkCV.checked ? "visible" : "hidden";
        }
    </script>
{% endblock %}
{% block content %}
    <div style="height:1500px;">
        <h2>Web Server</h2>
        <p>You can upload a file to submit your samples, and choose some methods to predict. </p>
        <hr>
        <p class="col-sm-offset-2" style="color: red;"><strong>All fields are required.</strong></p>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                <div class="col-sm-4">
                    <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                           required>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <textarea style="height: 100px" name="description" class="form-control" id="description"
                              placeholder="Add description for your job, like data, method and parameters."
                              required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="upload">Upload files:</label>
                <div class=" col-sm-5">
                    <label class="control-label" for="input-x">Choose your training data: X</label>
                    <input class="form-control" type="file" id="input-x" name="input-x"
                           placeholder="choose your training data: X" required>
                </div>
                <div class=" col-sm-5">
                    <label class="control-label" for="input-y">Choose your training label: Y</label>
                    <input class="form-control" type="file" id="input-y" name="input-y"
                           placeholder="choose your training label: Y" required>
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="control-label col-sm-2" for="methods">Select Methods:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="checkbox" id="LASSO" name="methods" value="LASSO">
                    <label for="LASSO">LASSO</label>

                </div>
                <div class=" col-sm-3">
                    <input class="form-control" type="checkbox" id="EBEN" name="methods" value="EBEN">
                    <label for="EBEN">EBEN</label>

                </div>

                <div class=" col-sm-3">
                    <input class="form-control" type="checkbox" id="meQTL" name="methods" value="meQTL">
                    <label for="meQTL">Matrix eQTL</label>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4 form-inline">
                    <input type="checkbox" id="cv" name="cv" onclick="ShowHideCV(this)" CHECKED>
                    <label for="validation"> Cross Validation </label>
                    <input class="form-control" style="width: 50px;" type="text" id="fold_number" name="fold_number"
                           maxlength="2" value="5">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4 form-inline">
                    <input type="checkbox" id="seed" name="seed" CHECKED>
                    <label for="validation"> Specify Seed </label>
                    <input class="form-control" style="width: 100px;" type="text" id="seed_number" name="seed_number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}